* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.border{
  border: 2px solid red;
}

.flex{
  display: flex;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.text-center{
  text-align: center;
}